/* General */

body {
  padding: 0;
  margin: 0;
  color: #EEE;
  font-family: 'Inter', sans-serif;
  font-size: 90%;
  background: #F0F0F0;
}

p {
  color: black;
}

p.footer{
  color:#808080;
  font-size: 22px;
}

/* Page Header Links */

a.title {
  transition-duration: 0.2s;
  text-decoration: none;
  color:#FFFFFF;
}

a.title:hover {
  text-decoration: none;
  color:#FFD600;
}

/* Page Footer Links */

a.footer {
  transition-duration: 0.2s;
  text-decoration: none;
  color:#FFFFFF;
}

a.footer:hover {
  text-decoration: none;
  color:#FFD600;
}

/* Text List Links */

a.list {
  transition-duration: 0.2s;
  text-decoration: none;
  color:#FFFFFF;
}

a.list:hover {
  text-decoration: none;
  color:#FFD600;
}

/* Page Header */

.page-header{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 60px;
  padding-right: 60px;
}

/* Banners */

.banner {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}

img{
  display: block;
}

.banner-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 10px;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

/* Title and Subtitle */

.header-content{
  padding-top: 40px;
  padding-bottom: 2px;
  padding-left: 60px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 15px;
}

h2 {
  font-family: 'Inter' sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 15px;
}

/* Text List */

.text-list{
  padding-left: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.text-item{
  padding-top: 8px;
  padding-bottom: 8px;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;

  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

h6 {
  font-family: 'Inter' sans-serif;
  font-size: 20px;
  font-weight: 400;

  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

/* Paragraph */

.paragraph-content{
  padding-top: 2px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 1.5;
}

/* CTA Button - Light */

button.light {
  font-family: 'Inter', sans-serif;
  font-size: 22px;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:28px;
  padding-right:28px;

  border-radius: 60px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  transition-duration: 0.25s;
}

button.light:hover {
  font-family: 'Inter', sans-serif;
  font-size: 22px;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:28px;
  padding-right:28px;

  border-radius: 60px;
  border: none;
  color: black;
  font-weight: bold;

  transition-duration: 0.25s;
  background-color: #FFD600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button.light:active{
  font-family: 'Inter', sans-serif;
  font-size: 22px;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:28px;
  padding-right:28px;

  border-radius: 60px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  transition-duration: 0.25s;
}

/* CTA Button - Yellow */

button.dark {
  font-family: 'Inter', sans-serif;
  font-size: 22px;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:28px;
  padding-right:28px;

  border-radius: 60px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  transition-duration: 0.25s;
}

button.dark:hover {
  font-family: 'Inter', sans-serif;
  font-size: 22px;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:28px;
  padding-right:28px;

  border-radius: 60px;
  border: none;
  color: black;
  font-weight: bold;

  transition-duration: 0.25s;
  background-color: #FFD600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button.dark:active{
  font-family: 'Inter', sans-serif;
  font-size: 22px;

  padding-top:14px;
  padding-bottom:14px;
  padding-left:28px;
  padding-right:28px;

  border-radius: 60px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  transition-duration: 0.25s;
}

button:focus {
  outline:0;
}

/* Carousel & Cards */

.carousel{
  padding-top:14px; 
  padding-bottom:10px;
}

.carousel-button{
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.carousel-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-padder{
  display: inline-block;
  width: 60px;
  height: 200px;
}

.card {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

img {
  display: block;
}

.card-image {
  position: relative;
  width: 50%;
}

.card-title{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 22px; 

  text-align: left;
  padding-top: 28px;
}

.card-subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px; 

  text-align: left;
  padding-top: 8px;
}

.image {
  opacity: 1;
  display: block;
  transition: .2s ease;
  backface-visibility: hidden;
  border-radius: 4px;
}

.card-CTA-container {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-image:hover .image {
  filter: brightness(40%);
}

.card-image:hover .card-CTA-container {
  opacity: 1;
}

.card-CTA {
  color: white;
  font-size: 24px;
}

/* Footer */

.footer-container{
  text-align:left;

  padding-top: 20px;
  padding-bottom: 28px;
  padding-left: 60px;
  padding-right: 60px;
}

/* ------------------------------ Desktop ------------------------------ */

@media screen and (min-width: 801px) {
  .paragraph-content {
    font-size: 24px;
  }
  button{
    font-size: 22px;
  }
  button:hover{
    font-size: 22px;
  }
  button:active{
    font-size: 22px;
  }
  h1 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 15px;
}
h2 {
  font-family: 'Inter' sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 15px;
}
.header-content{
  padding-left: 60px;
}
.page-header{
  padding-left: 60px;
}
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 8px;
}
h4 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
h5 {
  font-size: 28px;
}

h6 {
  font-size: 20px;
}
.carousel-padder{
  width: 60px;
}
.carousel-button{
  padding-left: 60px;
}
.text-list{
  padding-left: 60px;
}
.footer-container {
    padding-left: 60px;
    padding-right: 60px;
  }

.footer{
  line-height: 15px;
}
}

/* ------------------------------ Mobile ------------------------------ */

@media screen and (max-width: 800px) {
  .paragraph-content {
    font-size: 20px;
      padding-left: 30px;
  }
  button{
    font-size: 18px;
  }
  button:hover{
    font-size: 18px;
  }
  button:active{
    font-size: 18px;
  }
  h1 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 15px;
}
h2 {
  font-family: 'Inter' sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 15px;
}
.header-content{
  padding-left: 30px;
}
.page-header{
  padding-left: 30px;
}
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 8px;
}
h4 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
  line-height: 32px;
}
.carousel-padder{
  width: 30px;
}
.carousel-button{
  padding-left: 30px;
}
.text-list{
  padding-left: 30px;
}
.footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }
p.footer {
  font-family: 'Inter' sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
}
